<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Cloud</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body style="margin-bottom: 5%;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <a class="navbar-brand" href="#">Categories</a> 
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span> 
    </button> 
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
    <ul class="navbar-nav mr-auto"> 
    
    <li class="nav-item active"> 
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span>
    </a>
    </li> 
    
    <li class="nav-item"> <a class="nav-link" href="/interview">Interview Questions</a> </li>
    <li class="nav-item"> <a class="nav-link" href="/miniproject">Mini Projects</a> </li>
    <li class="nav-item"> <a class="nav-link" href="/majorproject">Major Projects</a> </li>
    <li class="nav-item"> <a class="nav-link" href="#">Study Materials</a></li> 
    </ul>
    </div>
    </nav>
    <div style="background:#2e5693 !important " class="jumbotron jumbotron-fluid">
      
 <div class="container">
   <h2 class="display-4" style="color: #ffffff; "><b>Campus Cloud</b></h2>
   <p class="lead" style="color: #ffff66" ;">Hi everyone!!! We would love to be a part of your professional journey. Only place where you can get everything related to Campus.</p>
    <br>
    <button type="button" class="btn btn-dark btn-lg btn-link" style="margin-left: 3%;"><a href="/signup"  style="display: inline-block; color: aliceblue;">Register</a>
    <button type="button"  role="/login" class="btn btn-light btn-lg download-button btn-link" style="margin-left: 3%;"><a href="/login"  style="display: inline-block; color: rgb(37, 35, 35);">Login</a></button></center>
 </div>
</div>

<div class="card text-center mx-auto border-0" style="width: 18rem;">
 <img src="interview.jpg" id="interviews" class="card-img-top">
 <div class="card-body"  >
   <h5 class="card-title">INTERVIEW QUESTIONS</h5>
   <p class="card-text"></p>Interview questions can vary as per Company and Canditate.The most basic questions asked are listed for your convenience.</p>
   <a href="#" class="btn btn-primary">Check Questions>></a>
 </div>
</div>  

<div class="card text-center mx-auto border-0" style="width: 18rem;">
 <img src="miniproject.jpg" class="card-img-top">
 <div class="card-body">
   <h5 class="card-title">MINI PROJECTS</h5>
   <p class="card-text"> searching for good mini projects? ever wondered what mini projects your seniors have done? click down to know more about mini projects of your seniors. </p></p>
   <a href="#" class="btn btn-primary">Check Mini Projects>></a>
 </div>

<div class="card text-center mx-auto border-0" style="width: 18rem;">
 <img src="majorproject.jpg" class="card-img-top">
 <div class="card-body">
   <h5 class="card-title">MAJOR PROJECTS</h5>
   <p class="card-text">Both mini and major projects enhances your professional skills,leadership skills and teaches you all aspects of team work.Also the topic chosen for Major Project is always a game changer in your interviews.click below for innovative major project ideas</p></p>
   <a href="#" class="btn btn-primary">Check Major Projects>></a>
 </div>
</div>    


<div class="card text-center mx-auto border-0" style="width: 18rem;">
 <img src="books.jpg" class="card-img-top">
 <div class="card-body">
   <h5 class="card-title">STUDY MATERIALS</h5>
   <p class="card-text">click below to add or view the study materials</p>
   <a href="#" class="btn btn-primary">Click for materials>></a>
 </div>
</div>

</body>

</html>