<%- include('partials/auth-header') %>
<div class="container register">
    <center><font color="white"><h1>Campus Cloud</h1></font></center>
    <br><br>
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are one step away from your seniors ! Everything at one place. Here we go !!! </p>
        </div>
        <div class="col-md-9 register-right">
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Reset Password</h3>
                    <form action="/otp" method="post">
                    <div class="row register-form  ">
                                <div class="form-group  col-md-12" style="    padding-left: 10%; padding-right: 10%;">
                                <center><input type="email" class="form-control" placeholder=" email " value=""  style="width: 300px; " name ="email" id="email"  required/></center>
                                </div>
                        <div class="col-md-12" style="    padding-left: 10%; padding-right: 10%;">
                            <center><input type="submit" class="btnRegister"  value="Verify"  role="/otp" style="width: 100px; height: 50px ;" />
                            </center>
                        </div>                               
                        </div>
                    </form>
                </div>
        </div>
    </div>

</div>
<%- include('partials/auth-footer') %>
