<%- include('partials/auth-header') %>
<div class="container register">
    <center><font color="white"><h1>Campus Cloud</h1></font></center>
    <br><br>
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are one step away from your seniors ! Everything at one place. Here we go !!! </p>
        </div>
        <div class="col-md-9 register-right">
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Set New Password</h3>
                    <form action="/update-pass" method="post" onsubmit="return validatePass()" >
                    <div class="row register-form  ">
                            
                                <div class="form-group  col-md-12" style="padding-left: 10%; padding-right: 10%;">
                                <center><input type="password" class="form-control" placeholder=" New Password" minlength="6" value=""  style="width: 300px; "  name ="new_pass" id="new_pass"  required/></center>
                                </div>
                                <div class="form-group  col-md-12" style="padding-left: 10%; padding-right: 10%;">
                                    <center><input type="password" class="form-control" placeholder=" Confirm Password" minlength="6" value=""  style="width: 300px; " name ="confirm_pass" id="confirm_pass" required/></center>
                                </div>
                        <div class="col-md-12" style="padding-left: 10%; padding-right: 10%;">
                           <center><input type="submit" class="btnRegister"  value="Submit" style="height: 50px; width:100px;"/></center> 
                        </div>                               
                        </div>
                        <center><label id="mismatch"  style="color: red; visibility: hidden; "  ><b> Password is not matching</b></label> </center>
                    </form>
                </div>
        </div>
    </div>

</div>
<%- include('partials/auth-footer') %>
