<%- include('partials/auth-header') %>
<div class="container register">
    <center><font color="white"><h1>Campus Cloud</h1></font></center>
    <br><br>
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are one step away from your seniors ! Everything at one place. Here we go !!!</p>
            <form action="/login" method="get">
                <input type="submit" class="btnRegister"  value="Login" style="width: 100px; height: 40px; margin: 5%;" />
            </form>
        </div>
        <div class="col-md-9 register-right ">
 
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Sign up</h3>
                    <form action="/register" method="post" onsubmit="return validateAll()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name *" value="" onchange="validate('1');" name="fname" id="fname" required/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name *" value="" onchange="validate('2');" name="lname" id="lname" required/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="USN *" value="" onchange="validate('3');" name="usn" id="usn" required/>
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" value="" name="email" id="email" required/>
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10"  class="form-control" placeholder="Your Phone *" value="" onchange="validate('4');" name="phone" id="phone" required />
                                </div>
                                <div class="form-group">
                                    <input type="password" minlength="6" class="form-control"  name="password" id="password" placeholder="Password *" value="" required/>
                                </div>  
                            </div>
                            <% if(error_msg != ''){ %>
                                <div class=" text-center alert alert-warning alert-dismissible fade show  "  style="width: 100%; " role="alert">
                                                <%= error_msg %>
                                    <button type="button" class="close" data-dismiss="alert"aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button> </div>
                                    <% } %> 
                            <div class="col-md-9 text-center m-auto" style="padding-left: 10%; padding-right: 10%;">
                                <input type="submit" class="btnRegister"  value="Register" style="width: 100px; height: 40px; " />
                            </div>
                        </div> 
                       
                        <center><label id="label"  style="color: red; visibility: hidden; "  ><b id="error"></b></label> </center>
                    </form> 
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('partials/auth-footer') %>
