<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interviews</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .jumbotron-fluid{
    width:100%;
    padding:20px;
    color:white;
   background: #2e5693!important;
    padding-bottom:20px;
    padding-top:10px;
    font-size:x-large;
    }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
        <a class="navbar-brand" href="#">Categories</a> 
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span> 
        </button> 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
        <li class="nav-item "> 
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span>
        </a>
        </li> 
        <li class="nav-item"> <a class="nav-link active" href="/interviews">Interview Questions</a> </li>
        <li class="nav-item"> <a class="nav-link " href="/miniproject">Mini Projects</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/majorproject">Major Projects</a> </li>
        <li class="nav-item"> <a class="nav-link" href="/studymaterials">Study Materials</a></li> 
        </ul>
        </div>
        </nav>
    <div class="jumbotron-fluid" >
      <h1 class="display-2"><b>Interview Questions</b></h1>
      <p class="lead"></p>
      </div>
  </div>
  <div class="container-fluid">
  <h1>Job interview questions: the ultimate guide</h1>
  <div class="img-caption right article-img">
      <img class="img-responsive img-md"  src="C:\Users\HP\OneDrive\Desktop\Campus-Cloud\codeply codes\CV1.jpg" align="right">
  </div>
  <p>Your CV hit the spot with the recruiters and you've been invited along to meet the team in person. It's great news, but there's no doubt it can be a bit nerve-wracking – in fact,nine out of ten of us feel the fear when an interview is coming up. It's totally normal to feel butterflies beforehand – a bit like pre-exam nerves, or a case of stage fright. You've set the expectations high with that impressive CV of yours, and now it's time to show them what you're made of.&nbsp;</p>
  <p>Thankfully, there are some steps you can take to make sure you're more prepared for your interview than you ever were for the school play. While you can't anticipate exactly which <strong> interview questions </strong> are going to be asked, you can be fairly certain of a few, even if they're presented in different guises. Practise your answers – and have a few questions of your own ready – and you'll be getting your encore in no time.</p>
  
  
  <p><h3>Introduction</h3></p>
  <p>
  <a href="#Tipp1">Common interview questions</a></p>
  <ul>
      <li><a href="#Tipp1.1">Nailing the dreaded "tell me about yourself" question</a></li>
      <li><a href="#Tipp1.2">The top five interview questions and how to answer them</a></li>
      <li><a href="#Tipp1.3">How to answer competency-based interview questions</a></li>
      
      <li><a href="#Tipp1.5">How to deal with unexpected interview questions</a></li>
  
  
  
      <li><a href="#Tipp2.1">Learn more about the role</a></li>
      <li><a href="#Tipp2.2">Ask about the organisational culture</a></li>
      
  </ul>
  
  <p><a href="#Tipp3">Questions an interviewer should not ask..</a></p>
  <p><a href="#Tipp4">How to prepare for common interview questions</a></p>
  
  
  <div class="img-caption right article-img">
      <img class="img-responsive img-md"  src="C:\Users\HP\OneDrive\Desktop\Campus-Cloud\codeply codes\interview1.jpg" align="left"></div>
      <h2 id="Tipp1">Common interview questions</h2>
  
  <p>The purpose of an interview is to find out more about who you are and how you'd fit into the role. Thanks to your CV, the panel already knows you have the qualifications to do the job. Now they want to learn more.</p>
  
  <p>Although <strong>job interview questions </strong>can sometimes seem a bit left-field, they're always related to the role in some way or another. Really knowing your way around the job description will help you to answer anything the panel throws at you, and prepping for the most <strong>common interview questions </strong>means you're more likely to hit the high notes when they (almost inevitably) crop up.</p>
  
  <h3 id="Tipp1.1">Nailing the dreaded 'tell me about yourself' question</h3>
  
  <p>"So, tell me about yourself." It's a common interview question that tends to come up early, which means it's a great opportunity to make a good impression. Interviewers use this one to learn about who you are as a person before delving into career questions. Before the interview, spend time getting to know yourself. Not in a deep, meaningful <em>Eat Pray Love</em> kind of way – just understand where your strengths lie and how to talk about them.&nbsp;</p>
  
  <p><strong>Study your CV</strong>. Print off a copy and make notes on it as if you were getting ready for an exam. Highlight the parts that are most relevant to the job you're applying for, and think about how you can weave them into your answer.</p>
  
  <p><strong>Think about your work history</strong>. What were your favourite things about past jobs, and what were your biggest achievements? Knowing this will help to guide the conversation. For example, if your favourite thing about your first job was the social life, your gregarious personality is something to highlight to interviewers.</p>
  
  <p><strong>Figure out your career bucket-list</strong>. Your ambitions are an important part of who you are, and talking about them at the interview will show that you're serious about your future in the industry.</p>
  
  <p><strong>Write and practise a soundbite</strong>. Prepare a short, two-minute speech about who you are and rehearse it in front of the mirror. Include all the above points, relating your experience and personality traits back to the role.</p>
  
  <p><strong>Don't get too personal</strong>. Your interviewer doesn't want to hear about your family relationships, feelings about religion and political opinions – in fact, some of these topics are actually illegal to talk about during an interview (but more on that later). Keep it professional, and focus on relevant skills and experiences.</p>
  
  <div class="img-caption right article-img">
      <img class="img-responsive img-md"  src="C:\Users\HP\OneDrive\Desktop\Campus-Cloud\codeply codes\interview2.jpg" align="right">
  </div>
  <h3 id="Tipp1.2">The top five interview questions and how to answer them</h3>
  
  <p>These five questions tend to come up in one form or another in almost every interview. Knowing what the interviewer is looking for – and preparing your response ahead – will help you to deliver a calm, clear and confident reply. These are the top <strong>interview questions and answers</strong> to be ready for:</p>
  
  <p><strong>1. How will you be an asset to this organisation?</strong></p>
  
  <p>This isn't about whether or not you're qualified to undertake the work – it's about how you'll fit in with the company's culture and what added value you'll bring beyond being a competent colleague.&nbsp;</p>
  
  <p>A good answer involves an element of tooting your own horn. That can make some people feel uncomfortable, but remember that the other candidates will be doing it too, and who's going to shout about your best qualities if you don't? Think about what you do that makes you different. Are you a social butterfly who loves arranging fun things to do? A quirky thinker who brings ideas nobody else has considered? Or someone who can think fast under the most stressful situations? Now's the time to let them know.&nbsp;</p>
  
  <p><strong>2. Why should I hire you?</strong></p>
  
  <p>The interviewer wants to know how you will do the job better, quicker and faster than any other candidate. Out of 10 people equally qualified, what gives you the edge?</p>
  
  <p>Read the job description and work out what problem the company is addressing by hiring for the role, then think about the skills and experience you have that prove you're the best person to help them solve it. Bring real examples from your career to date, demonstrate the soft skills you'll use to your advantage, and outline how you'd approach scenarios or tasks listed in the job advert.</p>
  
  <p><strong>3. Where do you see yourself in five years' time?</strong></p>
  
  <p>This is to get an idea of your ambitions and your drive. Your answer needs to be realistic, and it should also reflect something you can do within the company – so if it's UK-based with no plans to globalise, don't say "I'd love to be living overseas!"</p>
  
  <p>Good ideas to get you started are:</p>
  
  <ul>
      <li>I'd like to be leading a small team.</li>
      <li>I want to be taking the lead on major projects.</li>
      <li>I hope to be known as the go-to person for my specialism (whatever that may be)</li>
  </ul>
  
  <p><strong>4. Can you explain these gaps in your CV?</strong></p>
  
  <p>They're quite common, but sometimes gaps in a CV can be seen as a red flag. Whether it's a gap year, a sabbatical or just bad luck, if you have a big gap there's a high chance you'll be asked about it so the interviewer can find out how reliable you are as an employee.&nbsp;</p>
  
  <p>The key is to be open, honest and natural with your answer. Talk about the reason behind your career break, what you did with the time and what you learned during it. The most important thing is to show that you made careful decisions and planned ahead, so they trust you won't suddenly decide to swan off to Thailand for six months on a whim.</p>
  
  <p><strong>5. What makes you different from other candidates?</strong></p>
  
  <p>The interviewer wants to hear about how your unique skills, strengths and experiences will make you the best person from the role. Remember, they're looking at you in the context of the role you've applied for, so keep it relevant.</p>
  <div class="img-caption right article-img">
      <img class="img-responsive img-md"  src="C:\Users\HP\OneDrive\Desktop\Campus-Cloud\codeply codes\interview3.jpg" align="left">
  </div>
  <p>Put yourself in a position of strength by correlating your skills to the job you're applying for, what the company does or the wider industry. Before prepping your answer, learn as much you can by studying the job description and the company's website. If they're planning to open an office in Paris, now is a good time to big up your qualification in French.&nbsp;</p>
  
  
  <h2 id="Tipp1.3">How to answer competency-based interview questions</h2>
  
  <p><strong>Competency-based interview questions</strong> draw on real-life scenarios to find out more about your knowledge, skill set and workplace behaviour. They usually start with "tell us about a time when..." or "tell us about a situation when..." followed by a scenario relevant to the job you're applying for.</p>
  
  <p>While you can't anticipate which competency-based questions you'll be asked, you can use a strategy to answer them well. Use the STAR technique:</p>
  
  <p><strong>S</strong>ituation – where did it happen?</p>
  
  <p><strong>T</strong>ask – what were you expected to do?</p>
  
  <p><strong>A</strong>ction – what did you actually do?</p>
  
  <p><strong>R</strong>esult – what was the outcome?</p>
  
  <p>Try to be as specific as possible. If you can mention some solid sales figures, you'll definitely impress your interviewers.&nbsp;</p>
  
  
  <h3 id="Tipp1.5">How to deal with unexpected interview questions</h3>
  
  <p>You can't prep an answer for every question, and there are bound to be a few surprises on the big day. The best way to deal with them is to have a good knowledge base to draw from.</p>
  
  
  
  <p><strong>Understand your own motives</strong>. Have a good think before the interview about why you really want the job. Maybe it's because you're looking forward to more responsibility, or because the company ethos resonates with you. If they ask, you'll be able to tell them.</p>
  
  <p><strong>Read through your CV</strong>. Check your CV for any inconsistencies or employment gaps that a recruiter might spot. This way you won't be caught off guard if they ask you about them.&nbsp;</p>
  
  <p><strong>Keep calm</strong>. Take a deep breath and a moment to think before every answer, and talk in a calm and measured way. There's no rush – slower speech is a sign of confidence and helps the interviewer follow your train of thought.&nbsp;</p>
  <div class="img-caption right article-img">
      <img class="img-responsive img-md"  src="C:\Users\HP\OneDrive\Desktop\Campus-Cloud\codeply codes\interview5.jpg" align="right">
  </div>
  <p><strong>Break down the question.</strong> Long questions are easy to fumble, so break it down into smaller parts. If the question is really confusing, smile and ask the interviewer if they could repeat, clarify or reword it.</p>
  
  <p><strong>Be ready to show off</strong>. Unexpected questions are a chance to show how you react under pressure. Don't be modest. If you have something really amazing to say, go for it. Likewise, if you don't know the answer, don't be afraid to say so. You can always offer to find out and come back to them with a follow-up email.</p>
  
  
  
  
  <h3 id="Tipp2.1">Learn more about the role</h3>
  
  <p>Just like how your CV can't capture your personality, the job description can't cover the day-to-day reality of the job. Now is the perfect time to clarify any points you're not sure about. Pay attention during the interview so you're not asking questions that have already been answered.</p>
  
  <p>It's a good idea to bring a pen and paper with you to dot down questions as and when you think of them. That way you can concentrate on answering the interviewer without worrying you'll forget what you want to ask by the end.&nbsp;</p>
  
  
  <h3 id="Tipp2.2">Ask about the organisational culture</h3>
  
  <p>Remember: job interviews go two ways. It's not just about whether you're the right fit for the company, but if they're the right fit for you. Asking a question or two about the organisational culture will give you an idea about whether it's a good place to work. You might want to ask:</p>
  
  <ul>
      <li><strong>What's the best thing about working here? </strong>This is a chance for the interviewers to brag a bit, which is always nice! If they take a long time to answer or don't have anything to say then it could be a warning sign.</li>
      <li><strong>What is the main thing you expect from your employees? </strong>The answer to this is a good indicator of the environment you'll be working in. If the answer is 'high performance', it might indicate a stressful environment.</li>
      <li><strong>How do you build good team relationships?</strong> This question shows that you're interested in getting to know your colleagues, and will give you a good indication of what the social scene is like.</li>
      <li><strong>What is the turnover of staff like throughout the company? </strong>If the company has a high staff turnover, it's a red flag, as people are either leaving a lot or being sacked. Neither is ideal.</li>
      <li><strong>Are there any plans for expansion? </strong>Expansions can mean more opportunities for promotions and the chance to move to other cities.</li>
      <li><strong>How would you describe the company culture and management style? </strong>This one gets right down to the nitty gritty and tells you exactly the kind of environment you can expect to be working in.</li>
  </ul>
  
  
  
  
  
  <h2 id="Tipp3">Questions an interviewer should NOT ask</h2>
  
  <p>While interviewers can sometimes get creative with their questions – there are a few restrictions on what they can ask. For example, you should never be asked about:</p>
  
  <ul>
      <li><strong>Place of birth and ethnicity.</strong> If you're a foreign national you will have to provide proof that you're allowed to work in the UK, but that's it. Your employer isn't entitled to find out exactly where you born.</li>
      <li><strong>Marital status and children. </strong>You don't need to disclose anything about your relationship status or whether you're a parent, as employers might use this information to make judgements about reliability or a willingness (or lack thereof) to work longer hours.</li>
      <div class="img-caption right article-img">
      <img class="img-responsive img-md"  src="C:\Users\HP\OneDrive\Desktop\Campus-Cloud\codeply codes\interview6.jpg" align="right">
  </div>
      <li><strong>Sexual orientation and religion.</strong> This should go without saying, but any questions about your personal lifestyle and beliefs should be kept outside of the boardroom.</li>
      <li><strong>Disability and illness.</strong> The interviewer can ask you about big gaps in your CV which might have been caused by illness, but they're certainly not allowed to pry about your disability.</li>
      <li><strong>Physical information.</strong> Unless you're doing a job where height and weight are important, this data should be kept off the table.</li>
      <li><strong>Memberships and affiliations.</strong> If you're a member of any group of political party, you definitely don't need to share it with your interviewer&nbsp;</li>
  </ul>
  
  <p>These questions are illegal because they could be used to discriminate against you. No company wants to leave itself open to legal action, so it's highly unlikely you'll be asked them. However, if these <strong>illegal interview questions </strong>do come up during your chat, keep calm. Politely ask why you're being asked the question to find out if it has a direct bearing on the role. If it doesn't, explain that you would prefer not to answer.&nbsp;</p>
  
  
  
  <h2 id="Tipp4">How to prepare for common interview questions</h2>
  
  <p>Getting a job offer comes down to more than whether you're capable of carrying out certain tasks – it's about showing how you fit into the culture, demonstrating in interest and presenting your achievements and skills in a way the interviewer connects with.&nbsp;</p>
  
  <p>Here are our top tips for how to prepare for any interview questions:</p>
  
  <ol>
      <li>Study the job description, company website and industry news. Every interview question will be related to the role, so knowing your stuff will help you come up with on-the-spot answers</li>
      <li>Knowing your career ambitions and best personality traits will help to answer the "tell me about yourself" question in a way that's relevant to the job&nbsp;</li>
      <li>Use the STAR technique (Situation, Task, Action, Result) to structure and answer competency-based <strong>interview questions </strong>perfectly</li>
      <li>Have a go at answering the top five most common <strong>job interview questions</strong> by roping in friends for a practice run</li>
      <li>Decide how you're going to answer questions about salary and gaps in your CV – you want to reassure the interviewer that you are going to be a reliable employee</li>
      <li>Prepare at least five <strong>questions to ask in an interview</strong> to show that you're really interested in the position. Questions that clarify the day-to-day of the role, expand on the organisational culture or show off your industry knowledge are all good.&nbsp;</li>
      <li>Understand which <strong>interview questions</strong> are illegal, and be prepared to refuse to answer them in a polite but firm manner</li>
  </ol>
  </div>
      
</body>
</html>
  
  