<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="project.css">
  </head>
  <!-- Coded with love by Mutiullah Samim-->
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
      <a class="navbar-brand" href="#">Categories</a> 
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span> 
      </button> 
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
      <ul class="navbar-nav mr-auto"> 
      
      <li class="nav-item "> 
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span>
      </a>
      </li> 
      
      <li class="nav-item"> <a class="nav-link" href="#interviews">Interview Questions</a> </li>
      <li class="nav-item"> <a class="nav-link active" href="/miniproject">Mini Projects</a> </li>
      <li class="nav-item"> <a class="nav-link" href="/majorproject">Major Projects</a> </li>
      <li class="nav-item"> <a class="nav-link" href="#">Study Materials</a></li> 
      </ul>
      </div>
      </nav>
  <div class="jumbotron jumbotron-fluid" >
  
   <div >
   <div class="container" >
  <div class="w-100 p-1" >
    <h1 class="display-4 " ><b> Mini Project</b></h1>
    <p class="lead" style="color: #ffff66 ;">Use Domain option to sort the list of Miniprojet. </p>

    <p class="lead"></p>
	<div class="dropdown" align="bottom-right">
<button class="dropbtn">Select Domain</button>
<div class="dropdown-content">

<a>IOT</a>
<a>DBMS</a>
<a>Web Technology</a>
<a>Machine Learning</a>
<a>Big Data Analysis</a>

</div>
</div>
<div class="d-flex justify-content-left h-100" >
  <div class="searchbar"> 
    <input class="search_input" type="text" name="" placeholder="Search...">
    <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
  </div>
</div>
</div>
</div>
</div>
</div>
  

    <div class="container h-100" >
     
	  <p class="lead"><h5>A mini project is a bit of code which can be produced by a small group(nearly 3-4 members).<br>These projects can be created in C,C++,JAVA,J2EE etc.. topics like Cloud Computing , Networking,Big Data Analysis,Data Mining(if your group is intrested).<br>Real world projects are more appreciated rather than static projects.<br>Mini projects are expected to be finished within a span of nearly 3-4 months.Also you can extend the same project as your major project.<br>For this you need to talk to your mentor for further details.<br>A Mini Project is a fun activity if you are able to understand what topic to choose (Mentors of the team will help you for this) and later you apply what you have learntand learn now this as well and then you will be able to build a small successfull project.<br>Feel free to ceck all the mini projects listed below</h5> </p>
    </div>
  </body>
</html>
